<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/css/head.css" type="text/css" rel="stylesheet" />
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      html,
      body {
        width: 100%;
        height: 100%;
      }
      ul {
        list-style: none;
      }
      a {
        text-decoration: none;
        outline-style: none;
        color: #333333;
      }
    </style>
    <title>Fundraising</title>
  </head>
  <body>
    <!--头部-->
    <div class="head">
      <div class="head_left">Fundraising</div>
      <ul class="head_central">
        <li class="tiaozhuan tiaozhuan1"><a href="/">Home</a></li>
        <li class="tiaozhuan tiaozhuan4"><a href="/search">Search</a></li>
      </ul>
    </div>

    <script type="text/javascript"></script>
  </body>
</html>
