<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Fundraising</title>
		<link href="/css/index.css" type='text/css' rel='stylesheet' />

	</head>

	<body>
		
		<div class='head'>
			
		</div>
	
		<div class='rotation'>
			
			
			<ul id='pic'>
				<li><img src="/img/pic2.jpeg"></li>
			</ul>
		
			<div class='pic_min'>
				<ul id='liss'>
					<li>
						<img src="/img/pic5.jpeg" />
					</li>
					<li>
						<img src="/img/pic3.jpeg" />
					</li>
					<li>
						<img src="/img/pic2.jpeg" />
					</li>
					<li>
						<img src="/img/pic4.jpeg" />
					</li>
				</ul>
				<div class='back'></div>
			</div>
		
		</div>
	
		<div class='meisongqu'>
			
			<div class='meisongqu_left'>
				<div class='meisongqu_zhuanlan meisongqu_margin'>
					<h2>Welcome to our non-profit organization</h2>
					<p>We are committed to helping those who need support. Thank you for your attention and support!</p>
					<p>Contact:</p>
					<p>telephone: 123-456-7890</p>
				</div>
			</div>
			
			<div class='meisongqu_right'>
				<h2>List of active fundraisers</h2>
				<table class="table table-hover" cellpadding="0" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Bookie</th>
							<th>title</th>
							<th>Target fund</th>
							<th>Current funds</th>
							<th>city</th>
							<th>Active</th>
							<th>category</th>
						</tr>
					</thead>
					<tbody id="fundraisers"></tbody>
				</table>
				
				 
				   <div class="image-container" style="display: flex; justify-content: space-between; margin-top: 20px;">
					<img src="/img/picture08.jpg" alt="Picture description on the left" style="flex: 1; max-width: 48%; height: auto; border-radius: 10px; margin-right: 10px;">
					<img src="/img/picture10.jpg" alt="Picture description on the right" style="flex: 1; max-width: 48%; height: auto; border-radius: 10px; margin-left: 10px;">
				</div>
			</div>
		</div>
		</div>
		<div class="foot"></div>
		<script type="text/javascript" src="/js/index.js"></script>
		<script type="text/javascript">
		
fetch('http://localhost:8085/head')
    .then(response => response.text())
    .then(data => {
        document.querySelector('.head').innerHTML = data;
    });

fetch('http://localhost:8085/foot')
    .then(response => response.text())
    .then(data => {
        document.querySelector('.foot').innerHTML = data;
    });



fetch('/api/indexbox')
.then(response => response.json())
.then(res => {
    const fundraisersData = res.map(fundraiser => ({
        id: fundraiser.FUNDRAISER_ID,
        organizer: fundraiser.ORGANIZER,
        title: fundraiser.CAPTION,
        targetAmount: `${fundraiser.TARGET_FUNDING} AUD`, 
        currentAmount: `${fundraiser.CURRENT_FUNDING} AUD`,
        city: fundraiser.CITY,
        active: fundraiser.ACTIVE === 1, 
        category: fundraiser.category_name
    }));

    const fundraisersContainer = document.getElementById('fundraisers');

    fundraisersData.forEach(fundraiser => {
        if (fundraiser.active) {
            const row = document.createElement('tr');

            row.innerHTML = `
			    <td>${fundraiser.id}</td>
                <td>${fundraiser.organizer}</td>
                <td>${fundraiser.title}</td>
                <td>${fundraiser.targetAmount}</td>
                <td>${fundraiser.currentAmount}</td>
                <td>${fundraiser.city}</td>
				 <td>${fundraiser.active}</td>
                <td>${fundraiser.category}</td>
            `;

            fundraisersContainer.appendChild(row); 
        }
    });
})
.catch(error => console.error('Error fetching data:', error));


		</script>
	</body>

</html>
