/* app.component.css */
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  

/* 全局样式 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* 导航栏样式 */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex; /* 使用Flexbox布局 */
    /* 平均分配导航项 */
    /* justify-content: space-around;  */
  }

  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 200px;
    text-decoration: none;
    transition: background-color 0.3s; /* 平滑过渡效果 */
    border-radius: 5px; /* 添加圆角 */
    /* width: 100%;  */
  }
  
  nav ul li a:hover {
    background-color: #111;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 添加阴影效果 */
  }
  
 /* 头部样式 */
 header {
  background-color: #007bff;
  color: white;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

