.fundraiser-detail {
    /* flex: 1;  */
    margin-right: 20px; 
    background-color: #f9f9f9;
    padding: 30px;
    border: 1px solid #ddd; /* 添加边框 */
    border-radius: 8px;
    margin: auto; /* Centering the card */
  }

  .flex-container {
    display: flex;
    align-items: flex-start; /* Aligns items vertically */
    justify-content: space-between; 
  }
  .form-group {
    display: flex;
    align-items: center; /* Aligns the label and input vertically */
    margin-bottom: 10px; /* Adds space between form groups */
}


.detail-img {
    max-width: 100%; /* 确保图片不会超出容器宽度 */
    height: auto; /* 保持图片比例 */
}
.donation-form {
    flex: 0 1 600px; 
    background-color: #ffffff; /* 白色背景 */
    margin-top: 100px;
    border: 1px solid #70b5ff; /* 添加边框 */
    padding: 15px; /* 添加内边距 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
   
}


.donate-button {
    margin-top: 20px;
    margin-left: 200px;
    /* margin-right: 100px; */
    background-color: #28a745; /* Green color */
    color: white; /* 按钮文本颜色 */
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 无边框 */
    cursor: pointer; /* 鼠标悬停时显示指针 */
    font-size: 18px;
    float: center; /* no Flexbox */
 
}


  h2 {
    margin-top: 20px;
    text-align: center;
    color: #333;
  }

  h3 {
    margin-top: 20px;
    text-align: center;
  }

  p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  strong {
    margin-left:50px;
    margin-right: 20px;
    color: #333;
  }

    .donate-button:hover {
      background-color: #218838; /* Darker green on hover */
    }
